/* Padding And Margin */
.padding-20{
  padding: 20px;
}
.mar-b-30{
  margin: 0 0 30px 0;
}
/* Padding And Margin */

@media (max-width: 560px) {
  .container{
    width: 335px;
    margin: auto;
  }
}

@media (min-width: 560px) {
  .container{
    width: 600px;
    margin: auto;
  }
}

